/*General styling*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
h1 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}
h3 {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  z-index: 1;
  position: relative;
}
/*Header and navigation*/
#header {
  width: 100%;
  background-color: #1c84c1;
  opacity: 0.9;
  height: 60px;
  position: fixed;
}
#nav {
  width: 410px;
  float: right;
  margin-top: 10px;
}
#logo a {
  color: #fff;
  text-decoration: none;
  float: left;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Wellfleet";
  font-weight: bold;
}
#nav ul {
  list-style: none;
  display: block;
  margin: 0 auto;
}
#nav li {
  margin-top: 9px;
  float: left;
  padding-left: 21px;
}
#nav li a {
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Wellfleet';
}
#nav li a.active {
  color: #fff;
  opacity: 1;
  border-bottom: 2px solid #fff;
}
#nav li a:hover {
  color: #fff;
  opacity: 1;
}
.slide {
  /*border: 2px solid green;*/
  padding-top: 60px;
  height: 600px;
}
.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*= Slide One
--------------------------------------------------------*/
#slide1 {
  background-color: #175172;
  color: #fff;
  margin: 0;
  min-height: 500px;
  background-size: cover;
  text-align: center;
}
#content1 {
  /*border: 2px solid red;*/
  margin-top: 0;
  width: 850px;
}
#profile_pic {
  width: 250px;
  height: 250px;
  border-radius: 125px;
}
/*= Slide Two
--------------------------------------------------------*/
#slide2 {
  background-color: #236992;
  color: #333333;
  min-height: 550px;
  margin: 0 auto;
  overflow: hidden;
}
#content2 {
  /*border: 2px solid red;*/
  margin-top: 0;
  width: 1200px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}
.thumb {
  width: 180px;
  height: 100px;
  border: 1px solid white;
}
.thumb:hover {
  border: 1px solid black;
}
/*= Slide Three
--------------------------------------------------------*/
#slide3 {
  background-color: #175172;
  color: #fff;
  min-height: 550px;
}
#content3 {
  /*border: 2px solid red;*/
  margin-top: 0;
}
/*= Slide Four
--------------------------------------------------------*/
#slide4 {
  background-color: #236992;
  color: #333333;
  min-height: 550px;
  text-align: center;
}
#content4 {
  /*border: 2px solid red;*/
  margin-top: 0;
  width: 550px;
}
.contscts-box {
  background-color: #318dc3;
  width: 400px;
}
/*= Shadow effects 
--------------------------------------------------------*/
.shadow-light {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
.shadow {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23), 0 10px 30px rgba(0, 0, 0, 0.19);
}
.shadow-dark {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
}
/*= FOOTER 
--------------------------------------------------------*/
footer {
  bottom: 0;
  position: relative;
  color: #000;
  font-family: "Wellfleet";
  font-size: 14px;
  margin-top: 100px;
  text-align: center;
}
/*# sourceMappingURL=lessStyles.css.map */